.btn-div (@color, @background) {
    color: @color;
    background-color: @background;
    border-color: #e5e5e5;
    font-family: @default-font;
    text-shadow: none;
    cursor: pointer;
    display: inline-block;
    vertical-align: baseline;
    font-size: 1.4rem;
    margin: 0em 0.25em 0em 0em;
    padding: 0.78571429em 1.5em 0.78571429em;
    text-transform: none;
    text-shadow: none;
    font-weight: bold;
    line-height: 1em;
    text-align: center;
    text-decoration: none;
    border-radius: 0.28571429rem;

    &:hover {
        color: @background;
        background-color: @color;
    }

    @media @phone {
        margin: 0;
        width: 100%;
    }
}

.footer-style(@text, @back) {
  color: @text;
  background: @back;
      position: relative;
  background: ;
  -webkit-box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15);
  box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15);
  margin: 1rem 0em;
  padding: 1em 1em;
  border-radius: 0.28571429rem;
  /* border: 1px solid rgba(34, 36, 38, 0.15); */
}